/* p {
  background-color: green;
  color: white;
} */

p#wd-id-selector-1 {
  background-color: red;
  color: white;
}
p#wd-id-selector-2 {
  background-color: yellow;
  color: black;
}

p#wd-ai-id-selector {
  background-color: purple;
  color: white;
}

p#wd-id-selector-3 {
    background-color: lightblue;
    color: black;
}